# Python śmieci
__pycache__/
*.py[cod]
*$py.class

# Dane lokalne (NIGDY nie publikuj tych plików!)
.ruff_cache/
node_modules/
vultron/vultron.db
vultron/vul.pkl
vultron/bul.pkl
vultron/messages_cache.json

# Systemowe
.DS_Store
Thumbs.db