name: "Vultron"
description: "(Poronkusema) Obsługa wielu dzieci z konta EduVulcan. Automatyczne pobieranie ocen, planu i zadań."
url: "https://github.com/htomasz/vultron"
version: "2.1"
slug: "vultron"
arch:
  - aarch64
  - amd64
startup: application
boot: auto
homeassistant_api: true
map:
  - config:rw
options:
  username: ""
  password: ""
schema:
  username: str
  password: password
